<nav class="navbar navbar-caution">
  <div class="container-fluid">
    <div class="navbar=header">
      <h4>Conners Q&A</h4>
      <button type="btn btn-caution" name="button">{{#link-to 'index'}}Home{{/link-to}}</button>
      <button type="btn btn-default" name="button">{{#link-to 'about'}}About Us{{/link-to}}</button>
    </div>

  </div>
</nav>

{{outlet}}
