<nav class="navbar navbar-caution">
  <div class="container-fluid">
    <div class="navbar=header">
      <button type="btn btn-info" name="button">{{#link-to 'new-question'}}New Question{{/link-to}}</button>
    </div>

  </div>
</nav>

{{outlet}}
